<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "MoveSpaceDB" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js">
    </script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js">
    </script>
    <script defer src="https://unpkg.com/js-cookie@3.x.x/dist/js.cookie.min.js">
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <.color_scheme_switch_js />
  </head>
  <body class="antialiased bg-white dark:bg-gray-900">
    <nav class="sticky top-0 flex items-center justify-between w-full h-16 bg-white dark:bg-gray-900">
      <div class="flex flex-wrap ml-3 sm:flex-nowrap sm:ml-10">
        <a class="inline-flex hover:opacity-90" href="https://movespace.xyz">
          <img
            class="w-10 h-10 rounded-full"
            src={~p"/images/logo_movespace.svg"}
          />
        </a>
        <div class="flex justify-end gap-3 pr-4">
        </div>
        <div class="flex justify-end gap-3 pr-4">

          <%= if(!is_nil(assigns[:current_user])) do %>
            <%= case assigns.current_user.permission.level do %>
            <% 999 ->  %>
              <% # admin tags %>
              <!--<a
                target="_blank"
                class="inline-flex items-center gap-2 p-2 text-gray-500 rounded dark:text-gray-400 dark:hover:text-gray-500 hover:text-gray-400 group"
                href="/manager/model_view"
              >
                <span class="hidden font-semibold sm:block">
                  模型概览
                </span>
              </a>
              <a
                target="_blank"
                class="inline-flex items-center gap-2 p-2 text-gray-500 rounded dark:text-gray-400 dark:hover:text-gray-500 hover:text-gray-400 group"
                href="/manager/train"
              >
                <span class="hidden font-semibold sm:block">
                  模型训练
                </span>
              </a>

              <a
                target="_blank"
                class="inline-flex items-center gap-2 p-2 text-gray-500 rounded dark:text-gray-400 dark:hover:text-gray-500 hover:text-gray-400 group"
                href="/chatgpt"
              >
                <span class="hidden font-semibold sm:block">
                  Chat 模拟
                </span>
              </a>-->
              <a
                target="_blank"
                class="inline-flex items-center gap-2 p-2 text-gray-500 rounded dark:text-gray-400 dark:hover:text-gray-500 hover:text-gray-400 group"
                href="/embedbase_interactor"
              >
                <span class="hidden font-semibold sm:block">
                  治理公共向量数据库
                </span>
              </a>

            <% others -> %>
              <% # normal user tags %>
              <!--<a
                target="_blank"
                class="inline-flex items-center gap-2 p-2 text-gray-500 rounded dark:text-gray-400 dark:hover:text-gray-500 hover:text-gray-400 group"
                href="/chatgpt"
              >
                <span class="hidden font-semibold sm:block">
                  Chat 模拟
                </span>
              </a>-->
            <% end %>
          <% end %>

          <.dropdown label="Submit a new dataset">
            <.dropdown_menu_item link_type="button" label="Coming Soon" />
          </.dropdown>

          <a
            target="_blank"
            class="inline-flex items-center gap-2 p-2 text-gray-500 rounded dark:text-gray-400 dark:hover:text-gray-500 hover:text-gray-400 group"
            href="/proposal_viewer"
          >
            <span class="hidden font-semibold sm:block">
              Dataset Proposals
            </span>
          </a>
          <a
            target="_blank"
            class="inline-flex items-center gap-2 p-2 text-gray-500 rounded dark:text-gray-400 dark:hover:text-gray-500 hover:text-gray-400 group"
            href="/greenfield_tagger"
          >
            <span class="hidden font-semibold sm:block">
              Greenfield Tagger
            </span> 
          </a>
          <a
            target="_blank"
            class="inline-flex items-center gap-2 p-2 text-gray-500 rounded dark:text-gray-400 dark:hover:text-gray-500 hover:text-gray-400 group"
            href="/arweave_syncer"
          >
          <span class="hidden font-semibold sm:block">
            Arweave Syncer
          </span> 
        </a>
          <!--<a
            target="_blank"
            class="inline-flex items-center gap-2 p-2 text-gray-500 rounded dark:text-gray-400 dark:hover:text-gray-500 hover:text-gray-400 group"
            href="/embedbase_interactor"
          >
            <span class="hidden font-semibold sm:block">
              Dataset Manager Login
            </span>
          </a>-->
        </div>
      </div>

      <div class="flex justify-end gap-3 pr-4">
        <a
          target="_blank"
          class="inline-flex items-center gap-2 p-2 text-gray-500 rounded dark:text-gray-400 dark:hover:text-gray-500 hover:text-gray-400 group"
          href="https://github.com/NonceGeek/awesome-movespace"
        >
          <svg
            class="w-5 h-5 fill-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            data-name="Layer 1"
            viewBox="0 0 24 24"
          >
            <path d="M12,2.2467A10.00042,10.00042,0,0,0,8.83752,21.73419c.5.08752.6875-.21247.6875-.475,0-.23749-.01251-1.025-.01251-1.86249C7,19.85919,6.35,18.78423,6.15,18.22173A3.636,3.636,0,0,0,5.125,16.8092c-.35-.1875-.85-.65-.01251-.66248A2.00117,2.00117,0,0,1,6.65,17.17169a2.13742,2.13742,0,0,0,2.91248.825A2.10376,2.10376,0,0,1,10.2,16.65923c-2.225-.25-4.55-1.11254-4.55-4.9375a3.89187,3.89187,0,0,1,1.025-2.6875,3.59373,3.59373,0,0,1,.1-2.65s.83747-.26251,2.75,1.025a9.42747,9.42747,0,0,1,5,0c1.91248-1.3,2.75-1.025,2.75-1.025a3.59323,3.59323,0,0,1,.1,2.65,3.869,3.869,0,0,1,1.025,2.6875c0,3.83747-2.33752,4.6875-4.5625,4.9375a2.36814,2.36814,0,0,1,.675,1.85c0,1.33752-.01251,2.41248-.01251,2.75,0,.26251.1875.575.6875.475A10.0053,10.0053,0,0,0,12,2.2467Z" />
          </svg>
          <span class="hidden font-semibold sm:block">
            Star on Github
          </span>
        </a>
        <a
          target="_blank"
          class="inline-flex items-center gap-2 p-2 text-gray-500 rounded dark:text-gray-400 dark:hover:text-gray-500 hover:text-gray-400 group"
          href="https://twitter.com/movespacexyz"
        >
          <svg
            class="w-5 h-5 fill-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            data-name="Layer 1"
            viewBox="0 0 24 24"
          >
            <path d="M22,5.8a8.49,8.49,0,0,1-2.36.64,4.13,4.13,0,0,0,1.81-2.27,8.21,8.21,0,0,1-2.61,1,4.1,4.1,0,0,0-7,3.74A11.64,11.64,0,0,1,3.39,4.62a4.16,4.16,0,0,0-.55,2.07A4.09,4.09,0,0,0,4.66,10.1,4.05,4.05,0,0,1,2.8,9.59v.05a4.1,4.1,0,0,0,3.3,4A3.93,3.93,0,0,1,5,13.81a4.9,4.9,0,0,1-.77-.07,4.11,4.11,0,0,0,3.83,2.84A8.22,8.22,0,0,1,3,18.34a7.93,7.93,0,0,1-1-.06,11.57,11.57,0,0,0,6.29,1.85A11.59,11.59,0,0,0,20,8.45c0-.17,0-.35,0-.53A8.43,8.43,0,0,0,22,5.8Z" />
          </svg>
          <span class="hidden font-semibold sm:block">
            Follow us
          </span>
        </a>

        <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
          <%= if @current_user do %>
            <li class="text-[0.8125rem] leading-6 text-gray-900">
              <%= @current_user.email %>
            </li>
            <li>
              <.link
                href={~p"/users/settings"}
                class="text-lg leading-6 text-gray-500 font-semibold hover:text-gray-700"
              >
                Settings
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                class="text-lg leading-6 text-gray-500 font-semibold hover:text-gray-700"
              >
                Log out
              </.link>
            </li>
          <% else %>
            <li>
              <.link
                href={~p"/users/register"}
                class="text-lg leading-6 text-gray-500 font-semibold hover:text-gray-700"
              >
                Register
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/log_in"}
                class="text-lg leading-6 text-gray-500 font-semibold hover:text-gray-700"
              >
                Log in
              </.link>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= @inner_content %>
  </body>
</html>
